conky.config = {
    alignment = 'top_left',
    background = true,
    cpu_avg_samples = 2,
    default_color = '336600',
    double_buffer = true,
    font = 'WenQuanYi Micro Hei:size=14',
    gap_x = 10,
    gap_y = 50,
    minimum_width = 200,
    no_buffers = true,
    own_window = true,
    own_window_type = 'override',
    own_window_transparent = true,
    update_interval = 2.0,
    use_xft = true,
}

conky.text = [[
    ${execpi 300 /usr/bin/emacs --batch -l ~/.config/conky/org-todo.el -eval '(org-batch-agenda "t")'}
]];
